<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Имя</th>
			<th>Телефон</th>
			<th>Дата и время записи</th>
			<th>Мастер</th>
			<th>Цвет</th>
		</tr>
	</thead>
	<tbody>
		<% @results.each do |row| %>
		<tr>
			<td><%= row['id'] %></td>
			<td><%= row['username'] %></td>
			<td><%= row['phone'] %></td>
			<td><%= row['datestamp'] %></td>
			<td><%= row['barber'] %></td>
			<td><%= row['color'] %></td>
		</tr>
		<% end %>
	</tbody>
</table>